<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Main Rule Set" Description=" Top level rule set for the solution" ToolsVersion="15.0">
  <Rules AnalyzerId="CodeCracker.CSharp" RuleNamespace="CodeCracker.CSharp">
    <Rule Id="CC0004" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1801" Action="None" />
    <Rule Id="CA1812" Action="None" />
    <Rule Id="CA1822" Action="None" />
  </Rules>
  <Rules AnalyzerId="RefactoringEssentials" RuleNamespace="RefactoringEssentials">
    <Rule Id="RECS0129" Action="None" />
    <Rule Id="RECS0145" Action="None" />
    <Rule Id="RECS0154" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1118" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1413" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1623" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1652" Action="None" />
    <Rule Id="SX1101" Action="Warning" />
  </Rules>
</RuleSet>